.benefit-category {
    display: flex;
    flex-wrap: wrap;
}

.benefit-categories {
    border: 1px solid #222;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin: 0px 10px 10px 0px
} 

.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.benefit {
    position: relative;
}

.benefit .benefit-image {
    background-size: cover;
    background-position: center!important;
    background-repeat: no-repeat!important;
    height: 215px;
} 

.benefit .benefit-image .benefit-discount {
    position: absolute;
    color: #fff;
    background-color: #ad3734;
    width: 80px;
    height: 80px;
    font-size: 1.1em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 15px;
    top: 20px;
    left: 20px;
}

.benefit .company-logo {
    position: absolute;
    height: 80px;
    width: 80px;
    right: 30px;
    top: -40px;
    background-color: #fff!important;
    border-radius: 50%;
    background-size: 50px!important;
    background-position-x: 50%!important;
    background-position-y: 50%!important;
    background-repeat: no-repeat!important;
    box-shadow: 1px 1px 5px #CCC;
}

.benefit .benefit-content {
    padding: 10px;
    background-color: #fff;
    position: relative;
}

.benefit .benefit-content h4 {
    margin-top: 20px;
    color: #000;
}

.benefit .benefit-content a {
    color: #ad3734;
}

.benefit .benefit-content a:hover {
    opacity: 0.8;
}

.load-more {
    margin-top: 30px;
    text-align: center;
    color: #ad3734;
    cursor: pointer;
}